name: JavaCI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [7, 8, 9, 10, 11 ]
    steps:
      - uses: actions/checkout@v2
      - name: Setup java
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }} 
          distribution: 'zulu'
          cache: 'maven'
      - name: Build with Maven
        run: |
          mvn clean package -DskipTests
          mvn test

  build_jdk_ge_12:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        java: [12, 13, 14, 15]
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 1.8
        uses: actions/setup-java@v3
        with:
          java-version: 8
          distribution: 'zulu'
          cache: 'maven'
      - name: save java8 home
        run: |
          export JAVA8_HOME=$JAVA_HOME && echo $JAVA8_HOME
          echo "export JAVA8_HOME=$JAVA_HOME" > ~/.testenv

      - name: Setup java
        uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.java }}
          distribution: 'zulu'
          cache: 'maven'
      - name: Build with Maven
        run: |
          source ~/.testenv 
          mvn -Dmaven.compiler.fork=true -Dmaven.compiler.executable=$JAVA8_HOME/bin/javac clean package -DskipTests
          mvn -Dmaven.compiler.fork=true -Dmaven.compiler.executable=$JAVA8_HOME/bin/javac test